<% provide(:title, "About") %>
<h1>About</h1>
    <p>
    What about me doe? Wanna find out? Check out my profile page for the latest and greatest at
    <a href="https://www.facebook.com/Tigerbombz">Facebook</a>
    </p>
  </body>
</html>