<div class = "center jumbotron">
  <h1>Starter App</h1>
	<h2>
		This is my home page of my new app but my facebook page is 
		<a href="https://www.facebook.com/Tigerbombz">Facebook</a>
	</h2>

  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("SMBZ_Yoshi.png", alt: "Yoshi logo"),
            'http://google.com/' %>